<!-- {
    "description": "string",
    "id": 0,
    "name": "string",
    "price": 0
  } -->
  <H1>Product View</H1>

  <div class="container">
    <div class="alert alert-warning" *ngIf="Form.dirty && Form.invalid">Enter valid values</div>
    <div class="alert alert-warning" *ngIf="Form.dirty && price.invalid">Enter valid Price</div>
    <div class="alert alert-warning" *ngIf="Form.dirty && description.invalid">Enter atleast 5 characters in Description</div>

    <form (ngSubmit)="!Form.invalid && saveProoduct()" #Form="ngForm">
      <fieldset class="form-group">
        <label>Description</label>
        <input type="text" #description="ngModel"
              [(ngModel)]="products.description" class="form-control"
                  name="description" required="required" minlength="5">
      </fieldset>
      <fieldset class="form-group">
        <label>Name</label>
        <input type="text" #name="ngModel"
              [(ngModel)]="products.name" class="form-control"
                  name="name" required="required" minlength="2">
      </fieldset>
      <fieldset class="form-group">
          <label>Price</label>
          <input type="number" #price="ngModel"
          [ngModel]="products.price  "
          (ngModelChange)="products.price = $event"
          class="form-control" name="price" required="required" >
      </fieldset>

      <button type="submit" class="btn btn-success">Save</button> <button (click)="cancel()" class="btn btn-success">Cancel</button>
    </form>
  </div>
